.ok{
	color: green;
}
.k{
	font: 25px;
	font-family: Arial;
}
.biografia{
	font: 25px;
	font-family: Arial;
}
.accademia{
	font: 25px;
	font-family: Arial;
}
.peripato{
	font: 25px;
	font-family: Arial;
}
.opere{
	font: 25px;
	font-family: Arial;
}
.giovanili{
	font: 25px;
	font-family: Arial;
}
.maturità{
	font: 25px;
	font-family: Arial;
}
.filo{
	font: 25px;
	font-family: Arial;
}
.onto{
	font: 25px;
	font-family: Arial;
}
.teo{
	font: 25px;
	font-family: Arial;
}
.gno{
	font: 25px;
	font-family: Arial;
}
.logica{
	font: 25px;
	font-family: Arial;
}
.dia{
	font: 25px;
	font-family: Arial;
}
.etica{
	font: 25px;
	font-family: Arial;
}
.poli{
	font: 25px;
	font-family: Arial;
}
.philia{
	font: 25px;
	font-family: Arial;
}
.arte{
	font: 25px;
	font-family: Arial;
}