.ok{
	color: red;
}
.bio{
	font: 25px;
	font-family: Arial;
}
.fonti{
	font: 25px;
	font-family: Arial;
}
.Nasci{
	font: 25px;
	font-family: Arial;
}
.socrate{
	font: 25px;
	font-family: Arial;
}
.viaggio{
	font: 25px;
	font-family: Arial;
}
.plato{
	font: 25px;
	font-family: Arial;
}
.secondo{
	font: 25px;
	font-family: Arial;
}
.terzo{
	font: 25px;
	font-family: Arial;
}
.ate{
	font: 25px;
	font-family: Arial;
}
.opere{
	font: 25px;
	font-family: Arial;
}
.filo{
	font: 25px;
	font-family: Arial;
}
.problema{
	font: 25px;
	font-family: Arial;
}
.idee{
	font: 25px;
	font-family: Arial;
}
.mito{
	font: 25px;
	font-family: Arial;
}
.eros{
	font: 25px;
	font-family: Arial;
}
.stato{
	font: 25px;
	font-family: Arial;
}
.fortuna{
	font: 25px;
	font-family: Arial;
}
.sicilia{
	font: 25px;
	font-family: Arial;
}