.ok{
	color: skyblue;
}
.top{
	font: 25px;
	font-family: Arial;
}
.bottom{
	font: 25px;
	font-family: Arial;
}
.boh{
	font: 25px;
	font-family: Arial;
}
.atene{
	font: 25px;
	font-family: Arial;
}
.dottrina{
	font: 25px;
	font-family: Arial;
}
.sapere{
	font: 25px;
	font-family: Arial;
}
.anima{
	font: 25px;
	font-family: Arial;
}
.scoperta{
	font: 25px;
	font-family: Arial;
}
.socratico{
	font: 25px;
	font-family: Arial;
}
.stesso{
	font: 25px;
	font-family: Arial;
}
.mah{
	font: 25px;
	font-family: Arial;
}
.sofisti{font: 25px;
	font-family: Arial;
}
.accuse{
	font: 25px;
	font-family: Arial;
}
.morte{
	font: 25px;
	font-family: Arial;
}